html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
    background-color: black;
}

#video-banner {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
  }

header {
    width: 100%;
    height: 10vh;
    background-size: cover;
}

/*.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}*/

.logo {
    line-height: 60px;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    display: flex;
    justify-content: space-around;
}

nav ul {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.35px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    /*overflow: hidden;*/
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
    
}
.dropbtn{
    border: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.35px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    padding: 10px 10px;
    text-align: right;
    margin: 0;
    transition: 1s;
}

.dropbtn:active {
    border-style: outset;
  }
.social-media{
    align-self: center;
}
.social-media svg{
    margin-right: 6px;
}

.black {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

#title-1{
    margin-left: 10%;
    margin-top:100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #FFFFFF;
}

#title-2{
    margin-left: 10%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 98px;
    line-height: 112px;
    letter-spacing: -1.5px;
    color: #FFFFFF;

}

#title-3{
    margin-left: 10%;
    font-family: 'Montserrat';
    width: 25%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-bottom: 50px;

}
#sectors-slider{
    display: flex;
    justify-content: start;
    margin-left: 10%;
    margin-bottom: 50px;
}

#more-info{
    margin-left: 10%;
    margin-bottom: 60px;
}
#more-info-button{
    width: 280px;
    padding: 15px 40px;
    background: #ED1C23;
    border-radius: 5px; 
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    border:none;
}
.slider-item{
    cursor:pointer;
}
#sectors-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: flex-end;
    padding-bottom: 3px;
}
#first-hr{
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: red;
    height: 8px;
    margin-bottom: -2px;
}

@media(max-width: 992px) {
    .social-media{
        display: none;
    }
    .logo {
        position:absolute;
        top: -5px;
        
    }
    #sectors-text{
        display: none;
    }
    #first-hr{
        display: none;
    }

    nav ul {
          max-height: 0px;
          background: #000;
          overflow: hidden;
          position: absolute;
          left: 0;
          top: 64px;
          position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            padding-right: 0px;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 0px 0px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }
    .dropbtn-sub{
        border: none;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 0.30px;
        text-transform: uppercase;
        color: #FFFFFF;
        line-height: 40px;
        list-style: none;
        background: rgba(0, 0, 0, 0);
        padding: 0;
        text-align: right;
        margin: 0;
        transition: 1s;
        padding: 0px !important;
    }
    #title-1{
        display:none;
    }
    
    #title-2{
        margin-top: 100px;
        font-weight: 300;
        font-size: 61px;
        line-height: 72px;
        letter-spacing: -0.5px;
    
    }
    
    #title-3{
        margin-left: 10%;
        width: 45%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
    }
    #sectors-slider{
    margin-bottom: 25px;
}

}
@media(max-width: 500px) {
    nav ul {
        max-height: 0px;
        background: #000;
        overflow: hidden;
        width: 100%;
        padding-right: 0px;
  }
    #title-2{
        font-size: 61px;
        line-height: 72px;
        text-align: center;
        letter-spacing: -0.5px;
        margin-left: 0px !important;
        margin-right: 0px;

    }

    #sectors-text{
        display: flex;
        align-self: center;
    }

    #title-3{
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
    #more-info{
        margin-left: 0px;
        margin-bottom: 0px;
    }
    #more-info-button{
        width: 100%;
    }
    #sectors-slider{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }
}

/* footer */
.footer {
    clear: both; 
    z-index: 1; 
    height: 100%;
    /*margin-top: 40em; */
 }

#first_links a{
    text-decoration: none;
    /* Body 1 */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    /* identical to box height, or 162% */
    font-feature-settings: 'salt' on, 'liga' off;

    /* Text / Gray 300 */
    color: #D9DBE1;
}

#first_links a:hover{
    color: grey;
}

#second_links a{
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Text / Gray 300 */
    color: #D9DBE1;
}

#second_links a:hover{
    color: grey;
}
#name_links{
    color:white;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    /* identical to box height, or 120% */
    letter-spacing: 0.15px;
}
#copyright_and_image{
    margin-left:5px;
}

#copyright_anturio2{
    position: static;
    bottom: 57.14%;
    margin-left: 35%;

    /* Body / Body 2 */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    /* identical to box height, or 171% */
    font-feature-settings: 'salt' on, 'liga' off;

    /* Text / Gray 300 */
    color: #D9DBE1;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#copyright_anturio{
    position: static;
    bottom: 57.14%;
    margin-right:5px;
    margin-left: 35%;

    /* Body / Body 2 */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    /* identical to box height, or 171% */
    font-feature-settings: 'salt' on, 'liga' off;

    /* Text / Gray 300 */
    color: #D9DBE1;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
#social_media{
    margin-bottom:10%;
    margin-left:35%;
}

#social_media img{
    flex: none;
    order: 0;
    flex-grow: 2;
    margin: 0px 5px;
}

.sector_empresa{
    margin-top: 8% ;
}

.sector_support{
    margin-top: 8% ;
}
#anturio_logo{
    margin-top: 4% ;
    margin-left: 19% ;
    margin-bottom: 3%;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    left: -10%;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #FFFFFF;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    font-weight: 300;
    margin-top: -20px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    font-weight: 1000;
}
  
  /* Show the dropdown menu on hover */

  @media(min-width: 993px) {

  .dropdown:hover .dropdown-content {display: block;}

  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    transform: scale(1.2);
    }
    #more-info-button:hover{
        transform: scale(1.05);
    }

    .dropbtn:hover {
        cursor: pointer;
        text-decoration: none;
        transition: all .5s ease;
        cursor: pointer;
        transform: scale(1.2);
        color: rgb(119, 119, 119);
        }
        .social-media svg:hover {
            transform: scale(1.1);
            cursor: pointer;
            }
            .logo:hover {
                transform: scale(1.05);
                cursor: pointer;
                }

    
/* fim footer */

@media only screen and (max-width: 699px) {
    #first_links{
        display:none;
    }
    .sector_empresa{
        display:none;
    }
    #anturio_logo{
        margin-left: 0% !important;
        margin-bottom:10%;
    }
    .sector_support{
        display:none;
    }
    #second_links{
        margin-top:10px;
        line-height: 26px;
    }
    #empresas{
        display:none;
    }

    #clear_fix{
        display:none;
    }

    #copyright_anturio{
        top:100px;
        margin-left:0%;
    }
    #copyright_anturio2{
        margin-left:0%
    }

    #social_media{
        margin-bottom:10%;
        margin-left: 0% !important;
    }
  }

  @media only screen and (min-width: 700px) and (max-width: 993px) {
    #first_links{
        display:none;
    }
    #anturio_logo{
        margin-left: 0% !important;
        margin-bottom:10%;
    }
    .sector_empresa{
        display:none;
    }
    .sector_support{
        display:none;
    }
    #second_links{
        line-height: 26px;
    }
    #empresas{
        display:none;
    }

    #clear_fix{
        display:none;
    }

    #copyright_anturio{
        top:100px;
        margin-left:0%;
    }
    #copyright_anturio2{
        margin-left:0%
    }

    #center_elements{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #social_media{
        margin-bottom:10%;
        margin-left:0%;
    }
  }
/* fim footer */

/* Especialistas em diferentes setores style */

/*#diferent_sectors{
    width:auto;
    position: relative;
    background: #212121;
    height: 459px;
    color: white;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}*/

html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

#different_sectors{
    width:auto;
    display: flex;
    justify-content: space-around;
    background: #212121;
    height: 459px;
    color: white;
    margin-bottom: 50px;
}
#especialists_text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 61px;
    float: left;

    line-height: 72px;
/*    position: absolute;
    left: 231px;
    top: 162px;
    width:auto;*/
    align-self:center;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.38);
}

#number_4{
    /*padding-right: 100px;*/
    align-self:center;
    margin-right:100px;
}

#dot_point{
    position: absolute;
    margin-top:48px;
    margin-left: 3px; 
    display: inline-block;
}

/*Mobile*/
  @media only screen and (max-width: 608px) {
    
    #different_sectors{
        width:auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    #especialists_text{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;

        margin-left:auto;
        margin-right:auto;
       /* flex: 0 0 80px;*/

        text-align: center;
    }
    #dot_point{
    
        margin-top:17px;
    }
    

    #number_4{
     /*   flex: 0 0 100%;*/
      /*  padding-right: 40px;*/
        align-self: center;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        /*
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        */
        padding-bottom: 30px;
    }
  }

/* tablet*/
  @media only screen and (min-width: 609px) and (max-width: 992px) {
    #different_sectors{
        width:auto;
    }
   #especialists_text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 36px;
    /* or 103% */
    padding-left: 10%;
    letter-spacing: 0.25px;
   }

   #dot_point{
    
    margin-top:26px;
    margin-left: 3px;
    width:6;
    height:6; 
   }

   #number_4{
    align-self:center;
    margin-right:0px;
    margin-left:100px;
}
  }

/* Fim de Especialistas em diferentes setores style */