/* Especialistas em diferentes setores style */

/*#diferent_sectors{
    width:auto;
    position: relative;
    background: #212121;
    height: 459px;
    color: white;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}*/

html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

#different_sectors{
    width:auto;
    display: flex;
    justify-content: space-around;
    background: #212121;
    height: 459px;
    color: white;    
    margin-bottom: 0px;
}



#especialists_text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 61px;
    float: left;

    line-height: 72px;
/*    position: absolute;
    left: 231px;
    top: 162px;
    width:auto;*/
    align-self:center;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.38);
}

#number_4{
    /*padding-right: 100px;*/
    align-self:center;
    margin-right:100px;
}

#dot_point{
    position: absolute;
    margin-top:48px;
    margin-left: 3px; 
    display: inline-block;
}

/*Mobile*/
  @media only screen and (max-width: 608px) {
    
    #different_sectors{
        width:auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    #especialists_text{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;

        margin-left:auto;
        margin-right:auto;
       /* flex: 0 0 80px;*/

        text-align: center;
    }
    #dot_point{
    
        margin-top:17px;
    }
    

    #number_4{
     /*   flex: 0 0 100%;*/
      /*  padding-right: 40px;*/
        align-self: center;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        /*
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        */
        padding-bottom: 30px;
    }
  }

/* tablet*/
  @media only screen and (min-width: 609px) and (max-width: 992px) {
    #different_sectors{
        width:auto;
    }
   #especialists_text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 36px;
    padding-left: 10%;
    /* or 103% */
    
    letter-spacing: 0.25px;
   }

   #dot_point{
    
    margin-top:26px;
    margin-left: 3px;
    width:6;
    height:6; 
   }

   #number_4{
    align-self:center;
    margin-right:0px;
    margin-left:100px;
}

}

/* Fim de Especialistas em diferentes setores style */


/*Início de Div Construção, Indústria, Distribuição e TI*/
#div_with_sectors{
  width:auto;
  display: flex;
  justify-content: space-between;
  background: #2D2D2D;
  height: 223px;
  color: white;
}
#svg_construction{
  margin-left: 15%;
}
#svg_it{
  margin-right: 15%;
}

.svg_sectors{
  align-self:center;
}

#first_two_icons{
  display: flex;
  justify-content: space-around;
  width:50%;
  margin-left: 15%;
}

#second_two_icons{
  display: flex;
  justify-content: space-around;
  width:50%;
  margin-right: 15%;
}

/* tablet*/
@media only screen and (min-width: 609px) and (max-width: 992px) {
  #div_with_sectors{
    justify-content: space-between;
  }

  #first_two_icons{
    margin-left: 0%;
  }

  #second_two_icons{
    margin-right: 0%;
  }
}

/*Mobile*/
@media only screen and (max-width: 608px) {
 #div_with_sectors{
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
 }
 #first_two_icons{
  margin-left: 0%;
  width:100%;
  margin-bottom: 22px;
  justify-content: space-evenly;
}

#second_two_icons{
  margin-right: 0%;
  width:100%;
  justify-content: space-evenly;
}
#svg_construction{
  margin-left: 0%;
}
#svg_it{
  margin-right: 0%;
}
 
}
/*Fim de Div Construção, Indústria, Distribuição e TI*/