/* Especialistas em diferentes setores style */

#diferent_sectors{
    position: relative;
    background: #212121;
    height: 459px;
    color: white;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

#especialists_text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 61px;
    float: left;

    line-height: 72px;
    position: absolute;
    left: 231px;
    top: 162px;
    width:auto;

    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.38);
}

#number_4{
    position: absolute;
    left: 971.5px;
    top: 100.03px;
    width:auto;
}

#dot_point{
    position: absolute;
    margin-top:50px;
    margin-left: 3px;   
}





/* Fim de Especialistas em diferentes setores style */