/* Especialistas em diferentes setores style */

/*#diferent_sectors{
    width:auto;
    position: relative;
    background: #212121;
    height: 459px;
    color: white;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}*/

#different_sectors{
    width:auto;
    display: flex;
    justify-content: space-around;
    background: #212121;
    height: 459px;
    color: white;
    margin-bottom: 50px;
}
#especialists_text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 61px;
    float: left;

    line-height: 72px;
/*    position: absolute;
    left: 231px;
    top: 162px;
    width:auto;*/
    align-self:center;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.38);
}

#number_4{
    padding-right: 100px;
    align-self:center;
}

#dot_point{
    position: absolute;
    margin-top:50px;
    margin-left: 3px;   
}



/*Mobile*/
  @media only screen and (max-width: 699px) {
   
  }

/* tablet*/
  @media only screen and (min-width: 700px) and (max-width: 1038px) {
   #especialists_text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 36px;
    /* or 103% */
    
    letter-spacing: 0.25px;
   }

   #dot_point{
    position: absolute;
    
    margin-top:23px;
    margin-left: 3px;
    width:6;
    height:6; 
   }

   #number_4{
    padding-right: 0px;
    align-self:center;
}
  }

/* Fim de Especialistas em diferentes setores style */